{% extends 'public.html' %}

{% block title %}Message{% endblock %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/study.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/message.css" />
{% endblock %}

{% block js %}
    <script src="/static/js/message.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="modal fade" id="send-message">
    <div class="modal-dialog">
        <form class="modal-content" id="send-message-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center">Send Message</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="head-img">选择头像</label>
                    <div class="dropdown" id="head-img">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                        <img src="/media/{{top_headImage.image}}" class="img-circle"/>
                        <input type="text" name="image" class="hidden" value="/media/{{top_headImage.image}}" />
                        </button>

                        <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenu1">
                            {% for head_image in head_images %}
                            <li>
                                <img src="/media/{{head_image.image}}" class="img-circle center-block img-select" />
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">您的名字<span class="must-input">*必填</span></label>
                    <input type="text" id="username" placeholder="please input your name" class="form-control" name="username" />
                </div>
                <div class="form-group">
                    <label for="email">您的邮箱<span class="must-input">*必填(不公开)</span></label>
                    <input type="text" id="email" placeholder="please input your email" class="form-control" name="email" />
                </div>
                <div class="form-group">
                    <label for="username">您的网址<span class="select-input">&nbsp;选填</span></label>
                    <input type="text" id="address" placeholder="please input your address" class="form-control" name="address" />
                </div>
                <div class="form-group">
                    <label for="username">您的留言<span class="must-input">*必填</span></label>
                    <textarea id="message" name="message" rows="10" class="form-control" placeholder="please input your message"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-btn">关闭</button>
                <button type="reset" class="btn btn-primary" id="reset-btn">重置</button>
                <button type="button" class="btn btn-primary" id="send-btn">发送</button>
            </div>

        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="container">
    <div class="col-md-8 body-left">
        <div class="panel">
            <div class="panel-heading">
                <h1 class="text-center">Message</h1>
            </div>
            <div class="panel-body message-list">
                <button class="btn btn-primary center-block" type="button" data-target="#send-message" data-toggle="modal" id="send-message-btn">给&nbsp;我&nbsp;留&nbsp;言</button>
                <ul class="media-list">
                    {% for send_message in send_messages.object_list %}
                    <li class="media">

                        <div class="media-object col-md-2">
                            <img src="{{send_message.image}}" class="img-circle" />
                            <div class="triangle pull-right">
                            </div>
                        </div>
                        <div class="col-md-10 message-body">
                            <h3 class="media-heading">{{send_message.username}}:</h3>
                            <p>{{send_message.message}}</p>
                            <div class="media-bottom pull-right">
                                <h4>{{send_message.add_time}}</h4>
                            </div>
                        </div>

                    </li>
                   {% endfor %}
                </ul>
            </div>

            <div class="row text-center">
                <ul class="pagination">
                    {% if send_messages.has_previous %}
                    <li id="pre-page">
                        <a href="?{{send_messages.previous_page_number.querystring}}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in send_messages.pages %}
                        {% if page == pre_ignore_page|add:1%}
                        <li class="pages">
                            <a href="?{% if not send_sort == 0 %}sort={{send_sort}}&{% endif %}id={{article.id}}&page={{pre_ignore_page}}">
                                ...
                            </a>
                        </li>
                        {% endif %}
                        {% if page %}
                        <li class="pages {% ifequal page send_messages.number %}active{% endifequal %}">
                            <a href="?{{page.querystring}}">{{page}}</a>
                        </li>
                        {% endif %}
                        {% if page|add:1 == next_ignore_page %}
                        <li class="pages">
                            <a href="?{% if not send_sort == 0 %}sort={{send_sort}}&{% endif %}id={{article.id}}&page={{next_ignore_page}}">
                                ...
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if send_messages.has_next %}
                    <li id="next-page">
                        <a href="?{{send_messages.next_page_number.querystring}}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-4 body-right">
        <div class="jumbotron">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Motto</h3>
                </div>
                <div class="panel-body">

                    <p class="motto">{{writings.content}}</p>
                    <footer class="pull-right">
                        <span>————</span>
                        {{writings.from_name}}
                    </footer>

                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3>最新文章</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group panel-list">
                        {% for new_article in new_articles %}
                        <li class="list-group-item">
                            <a class="title" href="{% url 'articles_manage:article' %}?id={{new_article.id}}">
                                <span class="pull-left">{{new_article.name}}</span>
                                <span class="pull-right">{{new_article.add_time}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-6 col-lg-push-3 text-center center-block alert-danger hidden">
    <h1>请填写好所有必填内容，谢谢!</h1>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        new MessageOperation("{% url 'operation:send_message' %}");
    });
</script>
{% endblock %}